@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('./assets/fonts/DejaVuSansMono.ttf') format('truetype');

}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'DejaVu Sans Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.terminal {
    font-size: 1.5rem;
}

.typing {
    display: inline-block;
}